.buttonHome {
  display: flex;
}

.container {
  border: solid 2px red;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#gridContainer {
  border: solid 2px black;
  display: flex;
  justify-content: space-evenly;
}

#square {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  background-color: black;
  padding: 0px;
  margin: 0px;
}
